SUPABASE_URL=https://rjdlzohjxllmigaupwet.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqZGx6b2hqeGxsbWlnYXVwd2V0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NjMyMDQsImV4cCI6MjA4ODEzOTIwNH0.Pb78_E032nE9mttwib8U6w16l6ymbNCMQCQRLAWUl_8